$themeOrange: #ffc90e;
$themeDarkBlue: #050038;
$bodyColor: #444646;

.themeOrange{color: $themeOrange;}
.themeDarkBlue{color: $themeDarkBlue;}
.bodyColor{color: $bodyColor;}

* {
    scroll-behavior: smooth;
  }
  
  body, html {
    font-family: 'Orkney', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
      Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    @media (max-width: 1280px) {
      font-size: 14px;
    }
    @media (max-width: 1024px) {
      font-size: 16px;
    }
    margin: 0;
    padding: 0;
    color: $bodyColor;
  }
  
  img {
    max-width: 100%;
  }
  
  .customContainer{
    width: 100;
    max-width: 80vw;
    margin: 0 auto;
    @media (max-width: 767px) {
      max-width: 90vw;
    }
    
    @media (max-width: 639px) {
      max-width: 95vw;
    }
  }

  .topBar{
    background-color: $themeOrange;
    min-height: 0.7rem;
  }

  .socialIcons li a{
    &:hover{
     img:first-child{
       display: block;
       animation: hoverEfffect 0.3s ease-out;
     } 
    }
  }

  @keyframes hoverEfffect{
    from{
      opacity: 0.7;
      transform: scale(1);
    }
    to{
      opacity: 0;
      transform: scale(2);
    }
  }

  .playBtn{
    background-color: transparentize($themeOrange, 0.5);
    transform: rotate(-90deg);
    outline: none !important;
    padding: 2rem 1rem;
    position: absolute;
    width: 5rem;
    height: 7rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    img{
      max-width: 100%;
      height: 100%;
    }
    &:hover{
      background-color: transparentize($themeOrange, 0.3);
    }
  }

  div.faqToggle {
    color: #ecf0f1;
    background: $themeOrange;
    width: 2rem;
    height: 2rem;
    border: 0;
    font-size: 1.5em;
    position: relative;

    span {
      position: absolute;
      transition: .3s;
      background: white;
      border-radius: 2px;
    }

    span:first-of-type {
      top: 25%;
      bottom: 25%;
      width: 10%;
      left: 45%;
    }

    span:last-of-type {
      left: 25%;
      right: 25%;
      height: 10%;
      top: 45%;
    }

    &.open span:first-of-type,
    &.open span:last-of-type {
      transform: rotate(90deg);
    }

    &.open span:last-of-type {
      left: 50%;
      right: 50%;
    }
  }

  .animFaq{
    animation: animFaq 0.4s ease;
  }

  @keyframes animFaq {
    from{
      max-height: 0;
    }
    to{
      max-height: 500px;
    }
  }

.termsList{
  font-size: 1.1rem;
  counter-reset: section;
  line-height: 1.7;

  & > li{
    position: relative;
    counter-increment: section;
    padding-left: 2.5rem;
    margin-top: 2.5rem;

    & > span{
      font-size: 1.5rem;
      font-weight: 500;
      color: $themeDarkBlue;
    }

    &::before{
      content: counter(section);
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      text-align: center;
      height: 1.7rem;
      width: 1.7rem;
      color: #fff;
      background-color: $themeDarkBlue;
      line-height: 1.85em;
      border-radius: 100%;
      font-weight: 600;
      margin-top: 3px;
    }

    & > ul{
      li{
        padding-left: 1.5rem;
        position: relative;
        margin-top: 0.5rem;

        & + li{
          margin-top: 1rem;
        }

        &::before{
          content: "";
          margin-top: 6px;
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          background: #1e5799; /* Old browsers */
          background: -moz-linear-gradient(-45deg,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(135deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
          height: 0.7rem;
          width: 0.7rem;
          transform: rotate(45deg);
          border-radius: 30%;
        }

        & > ul{
          li{
            &::before{
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b7deed+0,71ceef+50,21b4e2+51,b7deed+100;Shape+1+Style */
            background: #b7deed; /* Old browsers */
            background: -moz-linear-gradient(-45deg,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            border-radius: 100%;
            }
          }
        }
      }
    }
  }

  u{
    color: $themeOrange;
  }
}

ul.styledList{
  li{
    padding-left: 1.5rem;
    position: relative;
    margin-top: 0.5rem;

    & + li{
      margin-top: 1rem;
    }

    &::before{
      content: "";
      margin-top: 6px;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background: #1e5799; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      height: 0.7rem;
      width: 0.7rem;
      transform: rotate(45deg);
      border-radius: 30%;
    }

    & > ul{
      li{
        &::before{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b7deed+0,71ceef+50,21b4e2+51,b7deed+100;Shape+1+Style */
        background: #b7deed; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        border-radius: 100%;
        }
      }
    }
  }
}

.capitalLetter{
  li::first-letter{
    text-transform: uppercase;
  }
}

.modal_close{
  background-color: #E42A61;
  border-radius: 5px;
  outline: none !important;
  color: #fff;
  padding: 7px 10px;
  padding-top: 12px;
  font-size: 1.2em;
  width: 200px;
  transition: 0.2s all;
}

.modal_close:hover{
  background-color: desaturate($color: #E42A61, $amount: 20);
}

// The icon specifics
// Variables
$success: #a5dc86;
$error: #f27474;

.reset_msg{
  font-size: 2em;
  text-align: center;
  font-weight: 500;

  &.success{
    color: $success;
  }
  &.error{
    color: $error;
  }
}

// Animated icons

.f-modal-alert .f-modal-icon {
	border-radius: 50%;
	border: 4px solid gray;
	box-sizing: content-box;
	height: 80px;
	margin: 20px auto;
	padding: 0;
	position: relative;
	width: 80px;

	// Success icon
	&.f-modal-success,
	&.f-modal-error {
		border-color: #A5DC86;

		&:after,
		&:before {
			background: #fff;
			content: '';
			height: 120px;
			position: absolute;
			transform: rotate(45deg);
			width: 60px;
		}

		&:before {
			border-radius: 120px 0 0 120px;
			left: -33px;
			top: -7px;
			transform-origin: 60px 60px;
			transform: rotate(-45deg);
		}

		&:after {
			border-radius: 0 120px 120px 0;
			left: 30px;
			top: -11px;
			transform-origin: 0 60px;
			transform: rotate(-45deg);
		}

		.f-modal-placeholder {
			border-radius: 50%;
			border: 4px solid rgba(165, 220, 134, .2);
			box-sizing: content-box;
			height: 80px;
			left: -4px;
			position: absolute;
			top: -4px;
			width: 80px;
			z-index: 2;
		}

		.f-modal-fix {
			background-color: #fff;
			height: 90px;
			left: 28px;
			position: absolute;
			top: 8px;
			transform: rotate(-45deg);
			width: 5px;
			z-index: 1;
		}

		.f-modal-line {
			background-color: #A5DC86;
			border-radius: 2px;
			display: block;
			height: 5px;
			position: absolute;
			z-index: 2;

			&.f-modal-tip {
				left: 14px;
				top: 46px;
				transform: rotate(45deg);
				width: 25px;
			}

			&.f-modal-long {
				right: 8px;
				top: 38px;
				transform: rotate(-45deg);
				width: 47px;
			}
		}
	}

	// Error icon
	&.f-modal-error {
		border-color: #F27474;

		.f-modal-x-mark {
			display: block;
			position: relative;
			z-index: 2;
		}

		.f-modal-placeholder {
			border: 4px solid rgba(200, 0, 0, .2);
		}

		.f-modal-line {
			background-color: #F27474;
			top: 37px;
			width: 47px;

			&.f-modal-left {
				left: 17px;
				transform: rotate(45deg);
			}

			&.f-modal-right {
				right: 16px;
				transform: rotate(-45deg);
			}
		}
	}
	
	// Warning icon
	
	&.f-modal-warning {
		border-color: #F8BB86;
		
		&:before {
			animation: pulseWarning 2s linear infinite;
			background-color: #fff;
			border-radius: 50%;
			content: "";
			display: inline-block;
			height: 100%;
			opacity: 0;
			position: absolute;
			width: 100%;
		}
		
		&:after {
			background-color: #fff;
			border-radius: 50%;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			width: 100%;
			z-index: 1;
		}
	}

	&.f-modal-warning .f-modal-body {
		background-color: #F8BB86;
		border-radius: 2px;
		height: 47px;
		left: 50%;
		margin-left: -2px;
		position: absolute;
		top: 10px;
		width: 5px;
		z-index: 2;
	}

	&.f-modal-warning .f-modal-dot {
		background-color: #F8BB86;
		border-radius: 50%;
		bottom: 10px;
		height: 7px;
		left: 50%;
		margin-left: -3px;
		position: absolute;
		width: 7px;
		z-index: 2;
	}
	
	+ .f-modal-icon {
		margin-top: 50px;
	}
}

.animateSuccessTip {
	animation: animateSuccessTip .75s;
}

.animateSuccessLong {
	animation: animateSuccessLong .75s;
}

.f-modal-icon.f-modal-success.animate:after {
	animation: rotatePlaceholder 4.25s ease-in;
}

.f-modal-icon.f-modal-error.animate:after {
	animation: rotatePlaceholder 4.25s ease-in;
}

.animateErrorIcon {
	animation: animateErrorIcon .5s;
}

.animateXLeft {
	animation: animateXLeft .75s;
}

.animateXRight {
	animation: animateXRight .75s;
}

.scaleWarning {
    animation: scaleWarning 0.75s infinite alternate;
}

.pulseWarningIns {
    animation: pulseWarningIns 0.75s infinite alternate;
}

@keyframes animateSuccessTip {
	0%,54% {
		width: 0;
		left: 1px;
		top: 19px;
	}

	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}

	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}

	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}

@keyframes animateSuccessLong {
	0%,65% {
		width: 0;
		right: 46px;
		top: 54px;
	}

	84% {
		width: 55px;
		right: 0;
		top: 35px;
	}

	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}

@keyframes rotatePlaceholder {
	0%,5% {
		transform: rotate(-45deg);
	}

	100%,12% {
		transform: rotate(-405deg);
	}
}

@keyframes animateErrorIcon {
	0% {
		transform: rotateX(100deg);
		opacity: 0;
	}

	100% {
		transform: rotateX(0deg);
		opacity: 1;
	}
}

@keyframes animateXLeft {
	0%,
	65% {
		left: 82px;
		top: 95px;
		width: 0;
	}

	84% {
		left: 14px;
		top: 33px;
		width: 47px;
	}

	100% {
		left: 17px;
		top: 37px;
		width: 47px;
	}
}

@keyframes animateXRight {
	0%,
	65% {
		right: 82px;
		top: 95px;
		width: 0;
	}

	84% {
		right: 14px;
		top: 33px;
		width: 47px;
	}

	100% {
		right: 16px;
		top: 37px;
		width: 47px;
	}
}

@keyframes scaleWarning {
	0% {
		transform: scale(1);
	}
	
	30% {
		transform: scale(1.02);
	}
	
	100% {
		transform: scale(1);
	}
}

@keyframes pulseWarning {
	0% {
		background-color: #fff;
		transform: scale(1);
		opacity: 0.5;
	}

	30% {
		background-color: #fff;
		transform: scale(1);
		opacity: 0.5;
	}

	100% {
		background-color: #F8BB86;
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes pulseWarningIns {
    0% {
        background-color: #F8D486;
    }

    100% {
        background-color: #F8BB86;
    }
}

// Animated icons end

.ReactModal__Content{
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2)
}