.LMmainSection {
    /* background: url(../img/licensing-module/LMT-bg.png) no-repeat center / cover; */
    background: url(./assets/imgs/LMT-bg.png) no-repeat center / cover;
    padding: 2.5rem 0 !important;
}
.stepOne {
    border: 1px dashed #707070;
    border-radius: 1rem;
    padding: 0.5rem 0 2rem;
    margin-top: 3rem;
}
.stepOne.stepThree .BLGridStep figure > img {
    width: 240px;
    height: 280px;
    object-fit: cover;
    object-position: center;
}
.stepOne.stepThree + .stepTitle,
.stepOne.stepThree .BLGridStep {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    gap: 2rem;
    text-align: center;
}
.currentStep {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    background: #806bff;
    color: #fff;
    padding: 0.75rem 2.25rem;
    border-radius: 6px;
    font-size: 18px;
}
.BLGridStep,
.stepTitle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    gap: 2rem;
    text-align: center;
}
.stepTitle figcaption:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 24px;
    background: url(/linesV.svg) repeat-y 50% / contain;
    /* background: url(/static/media/linesV.93f1ed0d.svg) repeat-y 50% / contain; */
}
.BLGridStep figure > img {
    width: 110px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    padding: 0.6rem;
    border: 1px solid #0080ff;
    border-radius: 6px 6px 0 0;
}
.downloadApp,
.publishApp,
.stepOne .BLGridStep .assetVideo {
    width: 48px;
    background: #ffc90e;
    height: 48px;
    border-radius: 10rem;
}
.assetAudio,
.assetPromo,
.assetVideo,
.assetWatermark,
.downloadApp,
.publishApp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.downloadApp,
.publishApp {
    width: 100px;
    height: 100px;
}
.btnPurple {
    background-color: #806bff;
    color: #fff;
    border-radius: 6px !important;
    width: 100%;
    border-color: #806bff;
    transition: 0.4s cubic-bezier(0, 0.68, 1, 0.56);
    opacity: 1;
    padding: 10px 0.4rem;
}
.bgDelete {
    background: url(./assets/imgs/delete-hero-bg.png) no-repeat center center /
        cover;
}
@media all and (max-width: 767.98px) {
    .BLGridStep {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3rem;
        column-gap: 0.5rem;
    }
    .stepOne {
        border: none;
        row-gap: 3rem;
        column-gap: 1rem;
    }
    .BLGridStep figure figcaption {
        display: block;
    }
    .stepTitle figcaption::before {
        content: none;
    }
    .stepTitle {
        display: none;
    }
    .stepOne.stepThree .BLGridStep figure > img {
        width: 160px;
        height: 200px;
    }
    .assetVideo,
    .assetWatermark,
    .assetAudio,
    .assetPromo {
        top: 70px;
    }
    .downloadApp,
    .publishApp {
        top: 100px;
    }
}
