.bodyWrap {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.textCenter {
    text-align: center;
    text-transform: none;
}
.certificateTable {
    width: 100%;
}
.certificateTAble th,
.certificateTAble td {
    padding: 6px;
    vertical-align: top;
}
.title {
    padding: 10px 15px;
    margin: 25px auto;
    color: #e5165f;
}
.borderTB {
    border-top: 1px solid #6e6d6d;
    border-bottom: 1px solid #6e6d6d;
}
.logos {
    display: table;
    text-align: center;
    margin: 0 auto;
}
.logoBox {
    display: table-cell;
    padding: 5px 10px;
}
.image {
    max-width: 100px;
    margin: 0 auto;
}
