@font-face {
    font-family: "Orkney";
    src: url("Orkney-Regular.eot");
    src: url("Orkney-Regular.eot?#iefix") format("embedded-opentype"), url("Orkney-Regular.otf") format("opentype"), url("Orkney-Regular.svg") format("svg"), url("Orkney-Regular.ttf") format("truetype"), url("Orkney-Regular.woff") format("woff"), url("Orkney-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Orkney";
    src: url("Orkney-Medium.eot");
    src: url("Orkney-Medium.eot?#iefix") format("embedded-opentype"), url("Orkney-Medium.otf") format("opentype"), url("Orkney-Medium.svg") format("svg"), url("Orkney-Medium.ttf") format("truetype"), url("Orkney-Medium.woff") format("woff"), url("Orkney-Medium.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Orkney";
    src: url("Orkney-Light.eot");
    src: url("Orkney-Light.eot?#iefix") format("embedded-opentype"), url("Orkney-Light.otf") format("opentype"), url("Orkney-Light.svg") format("svg"), url("Orkney-Light.ttf") format("truetype"), url("Orkney-Light.woff") format("woff"), url("Orkney-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Orkney";
    src: url("Orkney-Bold.eot");
    src: url("Orkney-Bold.eot?#iefix") format("embedded-opentype"), url("Orkney-Bold.otf") format("opentype"), url("Orkney-Bold.svg") format("svg"), url("Orkney-Bold.ttf") format("truetype"), url("Orkney-Bold.woff") format("woff"), url("Orkney-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

/*# sourceMappingURL=fonts.css.map */
