 
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js');
@import url('https://cdnjs.cloudflare.com/ajax/libs/equalize.js/1.0.2/equalize.min.js');
body {
            font-family: 'Roboto', sans-serif;
            color: #666;
            background: #fff;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .main_page {
            width: 8.268in;
            height: auto;
            background: #fff;
            margin: 0 auto;
        }
        
        .left_box {
            width: 37.5%;
            height: 90%;
            float: left;
            padding: 0.01in 0.25in;
            border-right: 2px solid #ccc;
            margin-top: 7%;
        }
        
        .right_box {
            width: 62.5%;
            height: 90%;
            float: left;
            padding: 0.01in 0.25in;
            margin-top: 7%;
        }
        
        .cv_img {
            background: url('bilal.jpg') no-repeat center;
            background-size: cover;
            height: 150px;
            width: 150px;
            margin: 0 auto;
            border-radius: 100%;
        }
        
        .name_small {
            font-size: 24px;
            text-align: center;
            margin-top: 20px;
            color: #666;
            font-weight: lighter;
            text-transform: uppercase;
        }
        
        .name_large {
            font-size: 48px;
            text-align: center;
            font-family: 'Droid Serif', serif;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        
        .job_title {
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            color: #76a7dd;
        }
        
        .icon_container {
            border-radius: 100%;
            text-align: center;
            height: 30px;
            width: 30px;
            line-height: 30px;
            border: 1px solid #999;
            display: inline-block;
        }
        
        .text-center {
            text-align: center;
        }
        
        .content_container {
            margin-top: 30px;
        }
        
        .content_heading {
            padding: 15px 0;
            background: url('line.jpg') repeat-x center;
        }
        
        .content_heading span {
            display: inline-block;
            padding: 0 20px;
            background: #fff;
            text-transform: uppercase;
            font-size: 20px;
        }
        
        .gen_text {
            font-size: 12px;
            margin: 0;
        }
        
        .gen_text_heading {
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
        }
        
        .pull-left {
            float: left;
        }
        
        .pull-right {
            float: right;
        }
        
        .align-left {
            text-align: left !important;
        }
        
        .align-right {
            text-align: right !important;
        }
        
        .clearfix {
            clear: both;
            width: 100%;
        }
        
        .clearfix:before {
            content: "";
            clear: both;
            width: 100%;
        }
        
        .clearfix:after {
            content: "";
            clear: both;
            width: 100%;
        }
        
        .mt_xs {
            margin-top: 5px;
        }
        
        .mt_sm {
            margin-top: 10px;
        }
        
        .mt_md {
            margin-top: 20px;
        }
        
        .mt_lg {
            margin-top: 30px;
        }
        
        .mt_xlg {
            margin-top: 40px;
        }
        
        .mb_xs {
            margin-bottom: 5px;
        }
        
        .mb_sm {
            margin-bottom: 10px;
        }
        
        .mb_md {
            margin-bottom: 20px;
        }
        
        .mb_lg {
            margin-bottom: 30px;
        }
        
        .mb_xlg {
            margin-bottom: 40px;
        }
        
        .muted {
            color: #999 !important
        }
        
        .skill_container {
            display: inline-block;
            text-align: center;
            width: 33.3333%;
        }
        
        .skill_container .c100 {
            display: inline-block;
            float: none;
            margin-top: 5px;
        }
        
        .skill_container .skill_name {
            text-transform: uppercase;
            color: #999;
            font-size: 12px;
        }
        
        .text-justify {
            text-align: justify !important;
        }
        
        .text-center {
            text-align: center !important;
        }
        
        .hobby_icon {
            margin-left: 9px;
            margin-right: 9px;
        }
        @media print {
          .break {page-break-after: always;}
        }